
*{
    margin:0;
    padding:0;
  
}
.boxes{

    display: grid;
    height: 90vh;
    width: 90%;
    padding-left: 5%;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.player{
    display: flex;
    align-items: center;
    justify-content: center;
}


